<div>
  <label>Account name:
    <input #accountName />
  </label>
  <label>Email :
    <input #email />
  </label>
  <label>First name :
    <input #firstName />
  </label>
  <label>Last name :
    <input #lastName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(accountName.value, email.value, firstName.value, lastName.value);
                        accountName.value=''; email.value=''; firstName.value=''; lastName.value='' ">
    add</button>

</div>
<h2>All users</h2>
<ul class="users">
  <li *ngFor="let user of users"
      [class.selected]="user === selectedUser"
      (click)="onSelect(user)">
    <span class="badge">{{user.accountName}}</span> {{user.lastName}}
    <button class="delete" title="delete user"
            (click)="delete(user)">x</button>
  </li>
</ul>
<div *ngIf="selectedUser">
  <h2>
    {{selectedUser.accountName | uppercase}} is the selected user
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
